show_frame=true
fg_set=false
bg_set=false
timezone=US/Eastern
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%A %B %d, %Y | %l:%M
font0=
tooltip=%A %d %B %Y/%V
hib_timing=false

